<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <!-- <script src="/scripts/validation.js"></script> -->

</head>

<body>
    <header>
        <div class="login_div">
            <form action="/user/login" method="post">
                <div class="email_div_login">
                    <label>Email</label>
                    <input type="email" placeholder="email" name="email">
                </div>
                <div class="password_div_login">
                    <label>Password</label>
                    <input type="password" placeholder="password" name="password">
                </div>
                <div class="button_div_login">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </header>
    <div class="signup_class">
        <div class="signup-div">
            <p>Sign up for free</p>
                 <form action="/user/save" method="POST" class="signup_form">
                    <div class="email_div">
                         <label id="email_label">Email</label><br>
                         <input type="email" name="email" placeholder="email" id="user_email">
                    </div>
                    <div class="firstname_div">
                         <label>First name</label><br>
                         <input type="text" name="firstname" placeholder="first-name">
                    </div>
                    <div class="lastname_div">
                        <label>Lastname</label><br>
                        <input type="text" name="lastname" placeholder="last-name"> 
                    </div>
                     <div class="password_div">
                          <label>Password</label><br>
                          <input type="password" name="password" placeholder="password" required>
                     </div>
                     <div class="button_align">
                         <input type="submit" value="Signup" class="btn" onclick="validateForm(event)" required>
                     </div>
                    
                </form>
         </div>
    </div>
</body>
</html>