*{
    /* box-sizing: border-box; */
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0 auto;
    font-family:'Rammetto One', cursive;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: 0 auto;
    width: 70%;
    line-height: 30px;
    margin-top: 60px;
    width: 100%;
}

.users {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.users td, #customers th {
    border: 1px solid #ddd;
    padding: 0px;
    color: gray;
}

a{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: black;
}

.search{
    text-align: center;
}
