*{
    /* box-sizing: border-box; */
    font-family: 'Lato', sans-serif;
}
header{
    width: 100%;
    height: 70px;
    background: orange;
}
body {
    margin: 0 auto;
    font-family:'Rammetto One', cursive;
    font-family: 'Lato', sans-serif;
}
.login_div{
    float: right;
    padding-top: 20px;
    margin: 0 auto;
    width: 40%;
}
.email_div_login, .password_div_login,.button_div_login{
    display: inline-block;
}