body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../css/images/mikayla-mallek-219946-unsplash.jpg);
    background-size: cover;
}
.container{
    margin-top: 110px;
}
.users{
 border-collapse: collapse;
 width: 80%;
 margin: 0 auto;
  
}

.users td , .users th{
    /* width: 100%; */
    border: 1p solid #ddd;
    padding: 8px;
    text-align:center; 
}

.users tr{
    background-color: rgba(255,255,255,0.8);
}


.users tr:hover {background-color: #ddd;}


.users th{
    padding-top: 12px;
    /* padding-bottom: 12px; */
    /* text-align: left; */
    background-color: #4CAF50;
    color: white;
}

a{
    text-decoration: none;
    /* font-size: 12px; */
    color: black;
}
a:hover{
    color: #4CAF50;
}

.search{
    margin:0 auto;
    margin-top: 100px;
    width: 70%;
    text-align: center;
}

.login_activity{
    margin-top: 30px;
}

.search input[type="text"]{
    height: 25px;
}
.search input[type='submit']{
    background-color: #4CAF50;
    border-style: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

.search input[type="submit"]:hover{
    color: white;
}

.search a{
    text-decoration: none;
    color: white;
    /* padding-top: 20px; */
}

.search a:hover{
    color: #4CAF50;
}